<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ImgPlot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>ImgPlot</h1>
    </header>
    <div class="main-container">
        <div class="left-container">
            <div id="dropzone">
                Drop images here or click to browse
                <input type="file" id="file-input" accept="image/*" multiple hidden>
            </div>
            <div id="image-gallery">
                <div class="image-container">
                    <!-- Dropped images will be appended here -->
                </div>
            </div>
        </div>
        <iframe id="map" src="map.html"></iframe>
    </div>

    <div id="fullscreen-view" class="hidden">
        <div id="fullscreen-background"></div>
        <img id="fullscreen-image" src="" alt="Full screen view">
        <button id="close-fullscreen">X</button>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
